/* NAVBAR */
header {
  color: white;
  background: var(--bg2);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  letter-spacing: 0.5em;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 20px;
}

/******************************************************************/

/* FORM */
.form-container {
  /* border: var(--border); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: calc(100vh - 125px);
  max-width: 500px;
}

form {
  border: var(--border);
  padding: 20px 50px 40px 50px;
}

form h2 {
  text-align: center;
  font-size: 32px;
}

.room-name {
  display: flex;
  justify-content: space-between;
}

input {
  border: var(--border);
  background: none;
  width: 20em;
  height: 50px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
  outline: none;
}

button {
  border: var(--border);
  background: white;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--bg2);
  border-left: var(--bg2);
  color: white;
}

.htp {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

@media (min-width: 124px) and (max-width: 1024px) {
  form {
    border: var(--border);
    padding: 10px 40px 30px 40px;
  }

  form h2 {
    font-size: 22px;
  }

  input {
    width: 10em;
  }

  button {
    width: 100px;
  }
}

/******************************************************************/

/* FOOTER */
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg2);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  animation: blink 1s linear infinite;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/******************************************************************/

/* About Us & How To Play */
.static-container {
  /* border: var(--border); */
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 2em;
  /* min-height: 80vh; */
}

.step-list {
  text-align: left;
  margin: 10px auto;
  max-width: 25em;
}

/******************************************************************/

/* How To Play */