:root {
  --bg: #2d2d2d;
  --font-color: white;
  --prm-font: 'Arial';
  --sec-font: 'Futura';
}

body {
  background-color: var(--bg);
  color: var(--font-color);
  font-family: var(--prm-font);
  margin: 0;
}